body {
    background-image: url(steelblue.jpg);
}

header {
    height: 70px;
    background-color: rgb(2, 30, 53);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 65px;
    font-size: 25px;
    margin-left: 30px;
    position: absolute;
    top: 20px;
}

a:hover {
    text-shadow: 2px 3px 5px rgb(255, 255, 255);
}

#nagy {
    height: 430px;
    width: 900px;
    border-radius: 10px;
    border: 5px white solid;
    position: absolute;
    top: 90px;
    left: 160px;
}

h1 {
    text-align: center;
    color: rgb(2, 30, 53);
}

tr td {
    font-size: 25px;
    color: rgb(2, 30, 53);
}

table {
    margin: auto;
    margin-top: 150px;
    width: 800px;
}

footer {
    height: 40px;
    background-color: rgb(2, 30, 53);
    width: 100%;
    margin-top: 475px;
}