body {
    background-color: rgb(51, 51, 51);
}

header {
    height: 70px;
    background-color: rgb(160, 0, 0);
}


a {
    text-decoration: none;
    color: white;
    margin-right: 65px;
    font-size: 25px;
    margin-left: 30px;
}

a:hover {
    text-shadow: 2px 3px 5px rgb(255, 255, 255);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
}

.elsoL {
    margin-top: 20px;
}

.kalapacs {
    height: 70px;
    margin-top: 1px;
    
}

footer {
    height: 40px;
    background-color: rgb(160, 0, 0);
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mittudomen{
    height:680px;
    width:550px;
    background-color: rgba(139, 139, 139, 0.664);
    margin: auto;
}

#teglalap1{
    width: 450px;
    height: 200px;
    background-color:rgb(187, 187, 187);
    border-radius: 10px;
    position: absolute;
    top: 85px;
    right: 405px;
    border: 5px rgb(255, 255, 255) solid;
}

#teglalap2{
    width: 450px;
    height: 200px;
    background-color:rgb(187, 187, 187);
    border-radius: 10px;
    position: absolute;
    top: 310px;
    right: 405px;
    border: 5px rgb(255, 255, 255) solid;
}

#teglalap3{
    width: 450px;
    height: 200px;
    background-color:rgb(187, 187, 187);
    border-radius: 10px;
    position: absolute;
    top: 535px;
    right: 405px;
    border: 5px rgb(255, 255, 255) solid;
}

#Kalapaccs{
    height: 150px;
    width: 200px;
    position: absolute;
    top: 18px;
    border-radius: 5px;
}

#cim1{
    position: absolute;
    left: 210px;
    top: 5px;
}

#szoveg1{
    position: absolute;
    left: 210px;
    top: 60px;
}

#csavarhuzo{
    height: 150px;
    width: 200px;
    position: absolute;
    top: 18px;
    border-radius: 5px;
}

#cim2{
    position: absolute;
    left: 210px;
    top: 5px;
}

#szoveg2{
    position: absolute;
    left: 210px;
    top: 60px;
}

#barkacsolas{
    height: 150px;
    width: 200px;
    position: absolute;
    top: 18px;
    border-radius: 5px;
}

#cim3{
    position: absolute;
    left: 210px;
    top: 5px;
}

#szoveg3{
    position: absolute;
    left: 210px;
    top: 60px;
}