body {
    background-color: rgb(51, 51, 51);
}

header {
    height: 70px;
    background-color: rgb(160, 0, 0);
}

a {
    text-decoration: none;
    color: white;
    margin-right: 65px;
    font-size: 25px;
    margin-left: 30px;
    position: absolute;
    top: 20px;
}

a:hover {
    text-shadow: 2px 3px 5px rgb(255, 255, 255);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
}

.elsoL {
    margin-top: 20px;
}

.kalapacs {
    height: 70px;
    margin-top: 1px;
    
}

footer {
    height: 40px;
    background-color: rgb(160, 0, 0);
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#teglalap{
    width: 1000px;
    height: 500px;
    background-color: rgb(171, 171, 171);
    margin: auto;
}

h4{
    text-align: center;
}

#csunyafuro{
    height: 300px;
    width: 250px;
    position: absolute;
    left: 150px;
    top: 90px;
    border: 5px rgb(60, 51, 51) solid;
    border-radius: 5px;
}

#nev1{
    height: 120px;
    width: 200px;
    position: absolute;
    top: 410px;
    left: 170px;
    background-color: rgb(85, 85, 85);
    border-radius: 5px;
}

#nev2{
    height: 80px;
    width: 200px;
    position: absolute;
    top: 410px;
    left: 530px;
    background-color: rgb(85, 85, 85);
    border-radius: 5px;
}

#csunyafuro2{
    height: 300px;
    width: 270px;
    position: absolute;
    left: 490px;
    top: 90px;
    border: 5px rgb(60, 51, 51) solid;
    border-radius: 5px;
}

#nev3{
    height: 110px;
    width: 180px;
    position: absolute;
    top: 410px;
    left: 870px;
    background-color: rgb(85, 85, 85);
    border-radius: 5px;
}

#csunyafuro3{
    height: 300px;
    width: 270px;
    position: absolute;
    left: 840px;
    top: 90px;
    border: 5px rgb(60, 51, 51) solid;
    border-radius: 5px;
}

#ar1{
    height: 30px;
    width: 100px;
    background-color: rgb(73, 73, 73);
    position: absolute;
    top:370px;
    left: 140px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
}

#ar2{
    height: 30px;
    width: 100px;
    background-color: rgb(73, 73, 73);
    position: absolute;
    top: 370px;
    left: 480px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
}

#ar3{
    height: 30px;
    width: 100px;
    background-color: rgb(73, 73, 73);
    position: absolute;
    top: 370px;
    left: 830px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
}